/**************************************
 * Sumo Select
 *************************************/

.SlectBox {
    width: 100%;
    padding: 13px 14px;
}
/*this is applied on that hidden select. DO NOT USE display:none; or visiblity:hidden; and Do not override any of these properties. */

.SelectClass {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border: none;
    z-index: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.optWrapper li label, .CaptionCont {
    user-select: none;
}

.SumoSelect {
    display: block;
    position: relative;
    outline: none;
}

.SumoSelect:focus .CaptionCont, .CaptionCont.open {
    box-shadow: 0 0 2px #7799D0;
    border-color: #7799D0;
}

.CaptionCont {
    position: relative;
    min-height: 50px;
    border: 1px solid #dbdbdb;
	background: #fefdff;
	font-size: $font-size-lg;
	line-height: 1.2;
	margin: 0;
}

.CaptionCont.open {
    border-bottom: 0;
}

.CaptionCont.isFloating.open {
    border-bottom: 1px solid #7799D0;
}

.CaptionCont span {
    @extend %ellipsis-overflow-common;
    padding-right: 16px;
    cursor: default;
}
%ellipsis-overflow-common {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
/*placeholder style*/

.CaptionCont span.placeholder {
    color: #a9a9a9;
}

.CaptionCont label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
}
.CaptionCont.open label {
    top: -1px;
}

.CaptionCont label i {
    background: url(images/icn-down-arrow-blue.svg) 50% no-repeat;
    width: 11px;
    height: 6px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    .no-svg & {
        background-image: url(images/icn-down-arrow-blue.png);
    }
}
.SumoSelect.disabled .CaptionCont label i {
    background-image: url(images/icn-down-arrow-grey.svg);

    .no-svg & {
        background-image: url(images/icn-down-arrow-grey.png);
    }
}

.optWrapper {
    top: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease, visibility 0.1s ease;
    z-index: -100;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px #7799D0;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

.optWrapper.open {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    border-color: #5e92cc;
    border-top: 0;
}

.optWrapper.isFloating.open {
    box-shadow: 2px 3px 3px #7799D0;
}

.optWrapper .options {
    display: block;
    padding: 0;
    margin: 0;
    overflow: auto;
    border-top: 1px solid #dbdbdb;
    /*Set the height of pop up here (only for desktop mode)*/

    max-height: 250px;
    /*height*/
}

.optWrapper.isFloating .options {
    max-height: 100%;
    box-shadow: 0 0 100px #595959;
    border-top: 0;
}

.optWrapper li {
    padding: 7px;
    border-bottom: 1px solid #dbdbdb;
    position: relative;
}

.optWrapper li:first-child {
    border-radius: 2px 2px 0 0;
}

.optWrapper li:last-child {
    border-bottom: 0;
    border-radius: 0 0 2px 2px;
}

.optWrapper.isFloating li:last-child {
    border-radius: 0;
}

.optWrapper li:hover, .optWrapper li.selected {
    background: #dfe9f5;
}

.optWrapper li label {
    @extend %ellipsis-overflow-common;
    cursor: pointer;
    line-height: 1.2;
}

.optWrapper li span {
    display: none;
}
/*Floating styles*/

.optWrapper.isFloating {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 90%;
    bottom: 0;
    margin: auto;
    max-height: 90%;
    border-radius: 4px;
    border-top: 1px solid #7799D0;
}

/*disabled state*/

.optWrapper li.disabled {
    background-color: inherit;
    pointer-events: none;
}

.optWrapper li.disabled * {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
}
/*styling for multiple select*/

.optWrapper.multiple li {
    padding-left: 35px;
    cursor: pointer;
}

.optWrapper.multiple li span {
    position: absolute;
    display: block;
    width: 30px;
    top: 0;
    bottom: 0;
    margin-left: -35px;
}

.optWrapper.multiple li span i {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #AEAEAE;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.optWrapper .MultiControls {
    display: none;
    border-top: 1px solid #dbdbdb;
    background: #ffffff;
    border-radius: 0 0 3px 3px;
}

.optWrapper.multiple.isFloating .MultiControls {
    display: block;
    margin-top: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.optWrapper.multiple.okCancelInMulti .MultiControls {
    display: block;
}

.optWrapper.multiple.okCancelInMulti .MultiControls p {
    padding: 6px;
}

.optWrapper.multiple .MultiControls p {
    display: inline-block;
    cursor: pointer;
    padding: 12px;
    width: 50%;
    text-align: center;
    margin: 0;
    line-height: 1.2;
}

.optWrapper.multiple .MultiControls p:hover {
    background: #f1f1f1;
}

.optWrapper.multiple .MultiControls p.btnOk {
    border-right: 1px solid #dbdbdb;
    border-radius: 0 0 0 3px;
}

.optWrapper.multiple .MultiControls p.btnCancel {
    border-radius: 0 0 3px 0;
}

/*styling for only multiple select on popup mode*/

.optWrapper.multiple.isFloating {
    padding-bottom: 43px;
}

.optWrapper.multiple li.selected span i {
    background: #2660ac url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC') 50% no-repeat;
    box-shadow: none;
    border-color: transparent;
}
/*disabled state*/

.SumoSelect.disabled .CaptionCont {
    border-color: #dbdbdb;
    background: #f0f0f0;
    box-shadow: none;
}

.SumoSelect.disabled .CaptionCont label {
    opacity: 0.7;
}